#loading-box
  .loading-left-bg
  .loading-right-bg
  .spinner-box
    .configure-border-1
      .configure-core
    .configure-border-2
      .configure-core
    .loading-word!='<strong>加载中……</strong><br /><small>如加载缓慢<br />访问<a href="https://cnblog.mariozzj.cn/">镜像站</a></small>'
